
@{
    ViewData["Title"] = "SanPhamTheoLoai";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TDanhMucSp>

@foreach (var item in Model)
{
    @await Html.PartialAsync("PartialSanPham", item)
}
@* <div class="product__pagination">
    @Html.PagedListPager(Model, page => Url.Action("SanPhamTheoLoai", new {page = page, maLoai = ViewBag.maLoai}))
</div> *@
@Html.PagedListPager(Model, page => Url.Action("SanPhamTheoLoai", new { page = page }), new X.PagedList.Web.Common.PagedListRenderOptions()
{
    LiElementClasses = new List<String> { "page-item" },
    PageClasses = new List<String> { "page-link" }
})

